# Data files
data/
*.csv
*.json
*.parquet
*.db

# Python
__pycache__/
*.pyc
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# Mac
.DS_Store

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# Airflow
airflow/logs/
airflow/airflow.cfg
airflow/airflow.db
airflow/airflow-webserver.pid
airflow/webserver_config.py